* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.text-wrapper {
    display: flex;
    margin-top: 20%;
}
.text {
    position: absolute;
    height: 100px;
    white-space: nowrap;    
    width: 50%;
}
.text-left {
    border: 2px solid #000;
    left: 0;
    transform: translateX(-50%);
}
.text-right {
    border: 2px solid #999;
    right: 0;
    transform: translateX(50%); 
}

.balken {
    background-color: #555;
    color: #fff;
    height: 400px;
    left: 50%;
    position: absolute;
    top: 500px;
    transform: translate(-50%, 0)
    width: 50px;
}

#indicator {
    background-color: red;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
}
