

::-webkit-scrollbar {
    display: none;
}

body{
  margin:0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'UniversLTPro-55Roman', sans-serif;
}


#text1 {
  word-wrap: break-word;
}

h1{
  font-size: 30;
  text-align: right;
  width: 512;
  margin-left: 700;
  margin-bottom: 86;
}

h2{
  font-size: 15;
  line: 28;
  text-align: right;
  margin-left: 168;
  width: 512;
}

p{
  font-size: : 15;
  line: 28;
  margin-left: 168;
  width: 512;
  text-align: right;
}


#canvas{
  display: block;
  position: fixed;
  z-index: -1;
}
