

::-webkit-scrollbar {
    display: none;
}

body{
  margin:0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'UniversLTPro-55Roman', sans-serif;
}


#text1 {
  word-wrap: break-word;
}

h1{
  margin-top: 26;
  font-size: 30;
  width: 512;
  margin-left: 700;
  margin-bottom: 86;
}

h2{
  font-size: 15;
  line: 28;
  width: 512;
}


.info-text-left{
  margin-left: 168;
  text-align: left;
  column-count: 2;
  column-gap: 80;
}

.info-text-right{
  margin-left: 168;
  width: 512;
  text-align: left;
}

.info-text-quote{
  text-align: center;
  width: 1100;
  font-size: 30;
}

p{
  font-size: : 15;
  line: 28;
}


#canvas{
  display: block;
  position: fixed;
  z-index: -1;
}
