@font-face { font-family: FreigText; src: url('FreigTexProBook.otf'); }
@font-face { font-family: L15; font-weight: normal; src: url('L15-Regular.ttf'); }
@font-face { font-family: L15; font-weight: bold; src: url('L15-SemiBold.ttf');}

::-webkit-scrollbar {
    display: none;
}

body{
  margin:0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  font-family: 'DIN OT', sans-serif;
  letter-spacing: 1.5;
}

section {
  position: fixed;
  margin: 57px;
  text-align: left;
  vertical-align: left;

  color: #ffffff;
  opacity: 1;

  animation-name: opacityFadeIn;
  animation-duration: 7s;
}

h1{
  font-size: 80;
  letter-spacing: 12;
  color: #C2C4DA;
  text-transform: uppercase;
  line: 102;
}

h2{
  font-size: : 34;
  letter-spacing: 4;
  line: 43;
}

p{
  font-size: : 15;
  letter-spacing: 0;
  line: 20;
}

#canvas{
  display: block;
  position: fixed;
}

#webWrapper {
  position: fixed;
  top: 0px;
}

#content {
  font-family: FreigText;
  padding: 100px;
  padding-top: 50px;
  font-size: 16px;
  color: #410D42;
  z-index: 1;
  background-color: white;
  overflow-x: hidden;
}

.scrollWrapper {
  height: 120000px;
}
.Header {
  font-family: L15;
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
}
.headderTitle {
  font-family: L15;
  font-size: 30px;
  color: #F93D55;
}
.HeadderLinks {
  text-align: right;
}
.HeadderLink {
  margin: 10px;
  color: #410D42;
}

.Info {
  font-family: L15;
  padding-top: 50px;
  padding-left: 100px;
  font-family: x;
  color: #410D42
}

.InfoTitle {
  font-family: L15;
  padding-top: 40px;
  font-size: 18px;
  font-weight: bold;
}
.InfoContent {
  font-family: L15;
  font-size: 16px;
}

.contentTitle{
  font-family: L15;
  padding-top: 50px;
  font-size: 24px;
  color: #F93D55;
}

.Image {
  background-color: #F2F2F2;
  MARGIN-top: 130px;
  width: 720px;
  height: 405px;
}
